body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

#calculator {
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
  box-shadow: hsl(0, 0%, 50%);
}

#text {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  color: white;
  background-color: hsl(0, 0%, 20%);
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: azure;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: hsl(0, 0%, 50%);
}

button:hover {
  background-color: hsl(0, 0%, 45%);
}

button:active {
  background-color: hsl(0, 0%, 55%);
}

.operator-btn {
  background-color: orangered;
}

.operator-btn:hover {
  background-color: hsl(16, 100%, 65%);
}

.operator-btn:active {
  background-color: hsl(16, 100%, 75%);
}
